*.class
.classpath
.project
target
.settings
*.orig
.springBeans
vcs.xml


# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/build/
/src/main/webapp/WEB-INF/classes/